h1 {
    font-size: 2.5em;
    color: #003366;
}

th {
    background-color: lightblue;
    color: navy;
    padding: 10px;
}
td {
    background-color: #fffacd;
    border: 1px dashed #888;
    padding: 8px;
}
